<!-- <div class="container">
    <h2>Quick Notes</h2><br>
    <p>Title : <span> {{data.name}}</span></p>
    <hr><br>
    <p>Tags : <span>@Prasanna</span></p>
    <hr><br>
    <p>Description : <span>Complete udemy course of angular</span><br><br></p>
    <hr>
    <i class="fas fa-palette" aria-hidden="true"></i>
    <button id="color" (colorPicker)="color1" [style.background]="color1"></button>
    <button id="color" (colorPicker)="color2" [style.background]="color2"></button>
    <button id="color" (colorPicker)="color3" [style.background]="color3"></button>
    <button id="color" (colorPicker)="color4" [style.background]="color4"></button>
    <button id="color" (colorPicker)="color5" [style.background]="color5"></button>
    <button id="color" (colorPicker)="color6" [style.background]="color6"></button>
  
    <i class="fas fa-trash" aria-hidden="true"></i>
    <button id="add" (click)="updateNotes()">update</button>
  </div> -->
<section class="timeline-area">
  <div>
    <h2>
      statred on march 8th
    </h2>
    <h6>
      date
    </h6>
  </div>
  <div>
    <h2>
      statred on april 8th
    </h2>
    <h6>
      date
    </h6>
  </div>
</section>